.Tpv_logo__La5jG {
    padding: 10px;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Tpv_login_heading__E5J6K {
    background: #e8f4fa;
    border-top: 3px solid #e0e6e9;
    overflow: hidden;
    color: #114986;
    margin-top: -6px;
}

.Tpv_login_heading_h3__z0Qx1 {
    padding: 0;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0 10px 12px;
}

.Tpv_login_form___9zpm {
    margin: 0 15px;
}

.Tpv_info__04_Jv {
    margin: 10px 0;
    color: #555354;
}

.Tpv_form__okPRU {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.Tpv_info_span__oB9oh {
    color: #c53313;
    font-weight: 700;
}

.Tpv_form_group__aHWg0 {
    overflow: hidden;
    margin-bottom: 12px;
}

.Tpv_label__cObJz {
    display: block;
    padding: 5px 0 0 10px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.Tpv_form_control__5hzGF {
    display: block;
    width: 96%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #554;
    background: #f0efee;
    border: 1px solid #cac5c6;
    padding: 5px;
    border-radius: 0;
    box-shadow: none;
    height: auto;
}

.Tpv_w_50__Sr4Sb {
    float: left;
    width: 50%;
}

.Tpv_label__cObJz {
    display: block;
    padding: 5px 0 0 10px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.Tpv_captcha__luduR {
    color: #d33434;
    font-weight: 700;
}


.Tpv_form_group__aHWg0 {
    overflow: hidden;
    margin-bottom: 12px;
}

.Tpv_btn__Mbztt {
    font-weight: 400;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
}

.Tpv_btn__Mbztt {
    background: #466c94;
    border: 0;
    border-radius: 0;
    color: #faf1f1;
    padding: 5px 13px;
    margin: 0 5px 0 0;
}

.Tpv_btn__Mbztt, .Tpv_btn_default__TMlv_ {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-weight: 400;
}

.Tpv_p_body__VIl_Q {
    background: #d6e1e6;
}

.Tpv_provide__KIDMh {
    list-style: square;
    margin: 0 0 0 20px;
    padding: 20px;
    font-size: 11px;
    color: #474748;
}

.Tpv_provide__KIDMh {
    list-style: square;
    margin: 0 0 0 20px;
    padding: 20px;
    font-size: 11px;
    color: #474748;
}

.Tpv_footer_area__vmfML {
    background: #444343;
    border-top: 3px solid #1879c5;
    overflow: hidden;
    padding: 5px 15px;
}

.Tpv_footer__uSut5 {
    background: #414142;
}

.Tpv_footer__uSut5 p {
    margin: 0;
    padding: 5px 15px;
    font-size: 11px;
    color: #eeedec;
}
